<form (ngSubmit)="submitForm(authPath)" [formGroup]="authForm">
  <h2 class="cw-form-title">{{ formButtonTitle }} Form</h2>
  <div class="form-wrapper">
    <div class="cw-form-groups-with-forgot-pass">
      <div class="cw-grouped-form-groups">
        <!-- Username Field -->
        @if (authPath === 'register') {
          <div class="cw-form-group">
            <label for="">Username</label>
            <input type="text" formControlName="username">
          </div>
        }
        <!-- Email Field -->
        @if (authPath === 'register' || authPath === 'login' || authPath === 'sendOtp') {
          <div class="cw-form-group">
            <label for="">Email</label>
            <input type="email" formControlName="email">
            <div>
              <small *ngIf="emailErrors?.['required'] && (authForm.touched || authForm.dirty)" class="form-error">Email is required</small>
              <small *ngIf="emailErrors?.['email'] && (authForm.touched || authForm.dirty)" class="form-error">Email must be a valid email address</small>
            </div>
          </div>
        }
        <!-- OTP and Password Field -->
        @if (authPath == 'verifyOtp'  || authPath === 'resetPassword') {
          <div class="cw-form-group">
            <label for="">Otp</label>
            <input type="text" formControlName="otp">
          </div>
        }
        @if (authPath == 'register' || authPath == 'login' || authPath == 'resetPassword') {
          <div class="cw-form-group">
            <label for="">Password</label>
            <input type="password" formControlName="password">
            <div *ngIf="authForm.controls?.['password']?.errors?.['required'] && (authForm.touched || authForm.dirty)">
              <small class="form-error">This field is required</small>
            </div>
          </div>
        }
        @if (authPath == 'resetPassword') {
          <div class="cw-form-group">
            <label for="">Confirm Password</label>
            <input type="password" formControlName="confirmPassword">
          </div>
          <div *ngIf="authForm.controls?.['confirmPassword']?.errors?.['required'] && (authForm.touched || authForm.dirty) && authForm.controls?.['password']?.value.length === 0">
            <small class="form-error">This field is required</small>
          </div>
          <div *ngIf="passwordMisMatch" class="error-wrapper">
            <small class="form-error">{{'Passworrd Mismatch'}}</small>
          </div>
        }
        @if (authPath == 'register' || authPath == 'resetPassword') {
          <div *ngIf="authForm.errors && (authForm.touched || authForm.dirty)" class="error-wrapper">
            <small *ngFor="let error of customPasswordErrors | keyvalue" class="form-error">{{error.value}}</small>
          </div>
        }
      </div>
      <div class="forgot-password-link-wrapper">
        <p *ngIf="authPath === 'login'"><a routerLink="../sendOtp">Forgot password?</a></p>
      </div>
    </div>

    <!-- Form buttons Field -->
    <div class="cw-form-buttons">
      <button type="submit" class="cw-button">{{ formButtonTitle }}</button>
    </div>
    <div>
      @switch (authPath) {
        @case ("register") {
          <p class="form-question">Already have an account? <a routerLink="../login">Login</a></p>
        }
        @case ("login") {
        <p class="form-question">Don't have an account? <a routerLink="../register">Signup</a></p>
        }
        @case ("sendOtp") {
          <p class="form-question">Back to? <a routerLink="../login">Login</a></p>
        }
      }
    </div>
  </div>
</form>
