<form (ngSubmit)="submitForm(authPath)" [formGroup]="authForm">
  <h2 class="cw-form-title">{{ authPath }} Form</h2>
  <div class="form-wrapper">
    <div class="cw-form-groups-with-forgot-pass">
      <div class="cw-grouped-form-groups">
        <!-- Username Field -->
        @if (authPath === 'register') {
          <div class="cw-form-group">
            <label for="">Username</label>
            <input type="text" formControlName="name">
          </div>
        }
        <!-- Email Field -->
        @if (authPath === 'register' || authPath === 'login' || authPath === 'sendOtp') {
          <div class="cw-form-group">
            <label for="">Email</label>
            <input type="email">
          </div>
        }
        <!-- OTP and Password Field -->
        @if (authPath == 'verifyOtp') {
          <div class="cw-form-group">
            <label for="">Otp</label>
            <input type="text">
          </div>
          <div class="cw-form-group">
            <label for="">Password</label>
            <input type="password">
          </div>
          <div class="cw-form-group">
            <label for="">Confirm Password</label>
            <input type="password">
          </div>
        }@else if (authPath == 'register' || authPath == 'login') {
          <div class="cw-form-group">
            <label for="">Password</label>
            <input type="password">
          </div>
        }

      </div>
      <div class="forgot-password-wrapper">
        <p *ngIf="authPath === 'login'"><a routerLink="../sendOtp">Forgot password?</a></p>
      </div>
    </div>

    <!-- Form buttons Field -->
    <div class="cw-form-buttons">
      <button type="submit" class="cw-button">{{ formButtonTitle }}</button>
    </div>
    <div>
      @switch (authPath) {
        @case ("register") {
          <p class="form-question">Already have an account? <a routerLink="../login">Login</a></p>
        }
        @case ("login") {
        <p class="form-question">Don't have an account? <a routerLink="../register">Signup</a></p>
        }
        @case ("sendOtp") {
          <p class="form-question">Back to? <a routerLink="../login">Login</a></p>
        }
      }
    </div>
  </div>
</form>
